nav ul{
    display: flex;  
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 0 10px;
}
nav li:hover{
    background-color: lightblue;
    
}
nav li a{
    /* All underline wll be gone bcs of text-decoration ; */
    text-decoration: none;
    color: black;
}